.base-section {
  &__title {
    font-size: 1.25 * $baseSize;
    line-height: 1.2em;
    word-wrap: break-word;
    margin-top: 0;
    margin-bottom: $baseSize;
  }

  &__content {
    margin-bottom: $baseSize;
  }

  /deep/ &__label-wrapper {
    font-size: 0.75 * $baseSize;
    display: block;
    width: 55%;
    padding: 0 0.5 * $baseSize;
    box-sizing: border-box;
    line-height: 1.25em;
  }

  /deep/ &__form-wrapper {
    width: 45%;
    position: relative;
  }
}
