.base-section {
  &__title {
    font-size: $baseSize;
    line-height: 1.2em;
    word-wrap: break-word;
    margin-top: 0;
    margin-bottom: $baseSize;
  }

  &__content {
    margin-bottom: $baseSize;
  }
}