$color-stack: (
  base: #000,
  secondary: #212121,
  third: #303030,
  fourth: #424242,
  contra: #fff,
  contra-lighter: #ccc,
  error-light: #e74c3c,
  error: #e74c3c,
  success-light: #2ecc71,
  success: #2ecc71,
);

@function color($name) {
  @return map-get($color-stack, $name);
}
