$color-stack: (
  base: #fff,
  secondary: #dedede,
  third: #ccc,
  fourth: #b0b0b0,
  contra: #000,
  contra-lighter: #333,
  error-light: #e74c3c,
  error: #e74c3c,
  success-light: #2ecc71,
  success: #2ecc71,
);

@function color($name) {
  @return map-get($color-stack, $name);
}
