$color-stack: (
  base: white,
  secondary: #cfd8dc,
  third: #b0bec5,
  fourth: #90a4ae,
  contra: black,
  contra-lighter: #455a64,
  error-light: #c0392b,
  error: #c0392b,
  success-light: #1abc9c,
  success: #78e08f,
);

@function color($name) {
  @return map-get($color-stack, $name);
}
