/*
* PANEL TRANSITION
*/

@keyframes panel-transition {
  0% {
    left: -$maxWidth;
  }
  100% {
    left: $sidebarWidth;
  }
}

.panel-transition-enter-active {
  animation: panel-transition $animationTime;
}
.panel-transition-leave-active {
  animation: panel-transition $animationTime reverse;
}

/*
* FADE TRANSITION
*/

@keyframes fade {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

.fade-enter-active {
  animation: fade $animationTime;
}
.fade-leave-active {
  animation: fade $animationTime reverse;
}
