/*
* PANEL TRANSITION
*/

.panel-transition-enter-active {
  transform: translateX(-100%);
}

.panel-transition-enter-to {
  transform: translateX(0%);
}

.panel-transition-leave-active {
  transform: translateX(0%);
}

.panel-transition-leave-to {
  transform: translateX(-100%);
}

/*
* FADE TRANSITION
*/

@keyframes fade {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

.fade-enter-active {
  animation: fade $animationTime;
}
.fade-leave-active {
  animation: fade $animationTime reverse;
}
