$baseSize: 16px;

$sidebarWidth: 3 * $baseSize;
$contentPadding: $baseSize;
$unitSize: 2 * $baseSize;

$maxWidth: 320px;

$animationTime: 0.5s;
$animationEase: ease;

$fontSize: $baseSize;
$fontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$themesClassDark: 'dark';
$themesClassLight: 'light';