$color-stack: (
  base: black,
  secondary: #263238,
  third: #37474f,
  fourth: #455a64,
  contra: #fff,
  contra-lighter: #cfd8dc,
  error-light: #c0392b,
  error: #c0392b,
);

@function color($name) {
  @return map-get($color-stack, $name);
}
