.text-editor {
  @include transition(background-color color);

  position: fixed;
  width: calc(100% - #{$sidebarWidth});
  left: $sidebarWidth;
  margin: 0 auto;
  overflow-y: auto;
  height: 100%;
  z-index: 2;
  font-family: 'Courier New', Courier, monospace;
  color: #000;

  &__content {
    padding: 0 $contentPadding;
    margin: 0 auto;

    &:focus {
      outline: 0;
    }

    &:empty {
      &::before {
        opacity: 0.6;
        content: attr(data-text-empty);
      }
    }

    div {
      margin: $contentPadding 0;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.writr-theme--#{$darkThemeClass} {
  @import 'darkTheme';

  .text-editor {
    color: color(contra);
  }
}

.writr-theme--#{$lightThemeClass} {
  @import 'lightTheme';

  .text-editor {
    color: color(contra);
  }
}
