$sidebarWidth: 48px;
$contentPadding: 10px;
$unitSize: 32px;

$animationTime: 0.5s;
$animationEase: ease;

$fontSize: 16px;
$fontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$darkThemeClass: 'dark';
$lightThemeClass: 'light';

// .writr-theme--#{$darkThemeClass} {
//   @import 'darkTheme';
//   @content;
// }

// .writr-theme--#{$lightThemeClass} {
//   @import 'lightTheme';
//   @content;
// }

@mixin transition($properties: all) {
  $value: ();
  @each $property in $properties {
    @if length($value) > 0 {
      $value: append($value, unquote(',') #{$property} $animationTime $animationEase);
    } @else {
      $value: append($value, #{$property} $animationTime $animationEase);
    }
  }
  transition: $value;
}
