.flyout {
  padding: $contentPadding;
  background-color: color('third');
  border-right: 1px solid color('fourth');
  width: calc(320px - #{$sidebarWidth});
  height: 100%;
  box-sizing: border-box;
  z-index: 3;
  position: fixed;
  left: $sidebarWidth;
  overflow-y: auto;

  &__label {
    font-size: 0.75em;
    display: block;
    width: 50%;
  }

  &__unit {
    font-size: 0.75em;
    width: 10%;
    margin: 0 0 0 $contentPadding;
  }

  &__input {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: $contentPadding;
    padding: 0.25 * $contentPadding 0 0.25 * $contentPadding $contentPadding;
    border: 1px solid transparent;
    transition: background-color $animationTime $animationEase, border $animationTime $animationEase;
    margin: 0.25 * $contentPadding 0;

    &-number {
      height: 32px;
      width: 40%;
      text-align: center;
      border: 1px solid color('contra-lighter');
      background-color: color('fourth');
      color: color('contra');
    }

    &--error {
      border: 1px solid color('error-light');
      background-color: color('error');
    }
  }
}

.flyout-enter-active {
  animation: flyout $animationTime;
}
.flyout-leave-active {
  animation: flyout $animationTime reverse;
}

@keyframes flyout {
  0% {
    left: -320px;
  }
  100% {
    left: $sidebarWidth;
  }
}
