.sidebar {
  position: fixed;
  z-index: 5;
  width: $sidebarWidth;
  border-right: 1px solid color(third);
  background-color: color(secondary);
  height: 100%;
  transition: background-color $animationTime $animationEase, border $animationTime $animationEase;

  &__box {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;

    &--top {
      top: 0;
      width: 100%;
    }

    &--bottom {
      bottom: 0;
      width: 100%;
    }
  }

  &__button {
    border: 1px solid transparent;
    border-right: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $sidebarWidth;
    height: $sidebarWidth;
    cursor: pointer;
    transition: border-color $animationTime $animationEase, background-color $animationTime $animationEase;

    &:hover {
      border-color: color('third');
    }

    &:active {
      background-color: color('fourth');
    }

    &--active {
      background-color: color('third');
    }

    img {
      width: 24px;
      height: 24px;
    }
  }
}
