@import '_variables';

body {
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: 1.25em;
}

.writr {
  position: fixed;
  height: 100%;
  width: 100%;
  @include transition(background-color color);
}

.writr-theme--#{$darkThemeClass} {
  @import 'darkTheme';

  color: color(contra);
  background-color: color(base);
}

.writr-theme--#{$lightThemeClass} {
  @import 'lightTheme';

  color: color(contra);
  background-color: color(base);
}

@import 'sidebar';
@import 'textEditor';
@import 'Panel/Panel';
