.text-editor {
  position: fixed;
  width: calc(100% - #{$sidebarWidth});
  left: $sidebarWidth;
  margin: 0 auto;
  overflow-y: auto;
  height: 100%;
  z-index: 2;

  &__content {
    padding: 0 $contentPadding;
    margin: 0 auto;

    &:focus {
      outline: 0;
    }

    div {
      margin: $contentPadding 0;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
