.panel-input {
  display: flex;
  align-items: center;
  margin: 0.5 * $fontSize 0;

  &__label {
    font-size: 0.8 * $fontSize;
    width: 50%;
    box-sizing: border-box;
    padding-right: 0.25 * $unitSize;
    padding-left: 0.25 * $unitSize;
  }

  &__value-box {
    padding-left: 0.25 * $unitSize;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;

    &::before {
      @include transition(z-index opacity background-color border-color);

      position: absolute;
      width: calc(100% - 0.25 * #{$unitSize});
      height: $unitSize;
      content: attr(data-error-hint);
      top: 100%;
      right: 0;
      z-index: 9;
      box-sizing: border-box;
      border: 1px solid transparent;
      border-top: 0;
      font-size: 0.6 * $fontSize;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: -1;
      opacity: 0;
    }

    &--error {
      &::before {
        z-index: 9;
        opacity: 1;
      }
    }
  }

  &__value {
    @include transition(color background-color border-color);

    width: calc(100% - #{$unitSize});
    box-sizing: border-box;
    height: $unitSize;
    appearance: none;
    border: 1px solid transparent;
    font-family: $fontFamily;
    text-align: center;

    &:hover,
    &:focus,
    &:active {
      outline: 0;
    }
  }

  &__unit {
    @include transition(background-color border-color);

    height: $unitSize;
    width: $unitSize;
    box-sizing: border-box;
    font-size: 0.75 * $fontSize;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-left: 0;
  }
}

.writr-theme--#{$darkThemeClass} {
  @import '../darkTheme';

  .panel-input {
    &__value-box {
      &::before {
        background-color: color(fourth);
        border-color: color(fourth);
      }
    }

    &__value {
      color: color(contra);
      background-color: color(secondary);
      border-color: color(fourth);

      &:hover,
      &:focus,
      &:active {
        background-color: color(base);
      }

      &--error {
        background-color: color(error);

        &:hover,
        &:focus,
        &:active {
          background-color: color(error-light);
        }
      }
    }

    &__unit {
      border-color: color(fourth);
    }
  }
}

.writr-theme--#{$lightThemeClass} {
  @import '../lightTheme';

  .panel-input {
    &__value-box {
      &::before {
        background-color: color(fourth);
        border-color: color(fourth);
      }
    }

    &__value {
      color: color(contra);
      background-color: color(secondary);
      border-color: color(fourth);

      &:hover,
      &:focus,
      &:active {
        background-color: color(base);
      }

      &--error {
        background-color: color(error);
        color: color(base);

        &:hover,
        &:focus,
        &:active {
          background-color: color(error-light);
        }
      }
    }

    &__unit {
      border-color: color(fourth);
    }
  }
}
