.panel {
  @include transition(background-color border-color);

  padding: $contentPadding;
  border-right: 1px solid transparent;
  width: calc(320px - #{$sidebarWidth});
  height: 100%;
  box-sizing: border-box;
  z-index: 3;
  position: fixed;
  left: $sidebarWidth;
  overflow-y: auto;

  &__header {
    margin: 0.5 * $fontSize 0 $fontSize;
    font-size: 2 * $fontSize;
    line-height: 1em;
  }
}

.panel-enter-active {
  animation: panel $animationTime;
}
.panel-leave-active {
  animation: panel $animationTime reverse;
}

@keyframes panel {
  0% {
    left: -320px;
  }
  100% {
    left: $sidebarWidth;
  }
}

.writr-theme--#{$darkThemeClass} {
  @import '../darkTheme';

  .panel {
    background-color: color(third);
    border-right-color: color(fourth);
  }
}

.writr-theme--#{$lightThemeClass} {
  @import '../lightTheme';

  .panel {
    background-color: color(third);
    border-right-color: color(fourth);
  }
}

@import './PanelInput';
@import './PanelSection';
@import './PanelToggle';
