.panel-toggle {
  display: flex;
  align-items: center;

  &__button {
    appearance: none;
    width: 50%;
    box-sizing: border-box;
    height: $unitSize;
    border: 1px solid color('fourth');
    background-color: color('secondary');
    font-family: $fontFamily;
    color: color('contra');
    cursor: pointer;
    font-size: 0.8 * $fontSize;
    transition: color $animationTime $animationEase, background-color $animationTime $animationEase, border $animationTime $animationEase;

    &:hover,
    &:active,
    &:focus {
      background-color: color('base');
      outline: 0;
    }

    &--left {
      margin-right: 0.125 * $unitSize;
    }

    &--right {
      margin-left: 0.125 * $unitSize;
    }

    &--active {
      color: color('secondary');
      background-color: color('contra-lighter');

      &:hover,
      &:active,
      &:focus {
        color: color('secondary');
        background-color: color('contra-lighter');
      }
    }
  }
}
