.sidebar-panel {
  padding: $contentPadding;
  border-right: 1px solid transparent;
  width: calc(#{$maxWidth} - #{$sidebarWidth});
  height: 100%;
  box-sizing: border-box;
  z-index: 3;
  position: fixed;
  left: $sidebarWidth;
  overflow-y: auto;
  scrollbar-width: thin;

  @include transition(background-color border-color scrollbar-color transform);

  &::-webkit-scrollbar {
    width: 0.5 * $baseSize;
  }
  
  &::-webkit-scrollbar-track-piece  {
    @include transition(background-color);
  }
  
  &::-webkit-scrollbar-thumb:vertical {
    @include transition(background-color);
  }
}

.writr-theme--#{$themesClassDark} {
  @import '@/styles/themes/dark.scss';  

  .sidebar-panel {
    background-color: color(third);
    border-right-color: color(fourth);
    scrollbar-color: color(fourth) color(secondary);

    &::-webkit-scrollbar {
      width: 0.5 * $baseSize;
    }
    
    &::-webkit-scrollbar-track-piece  {
      background-color: color(secondary);
    }
    
    &::-webkit-scrollbar-thumb:vertical {
      background-color: color(fourth);
    }
  }
}

.writr-theme--#{$themesClassLight} {
  @import '@/styles/themes/light.scss';

  .sidebar-panel {
    background-color: color(third);
    border-right-color: color(fourth);
    scrollbar-color: color(fourth) color(secondary);

    &::-webkit-scrollbar {
      width: 0.5 * $baseSize;
    }
    
    &::-webkit-scrollbar-track-piece  {
      background-color: color(secondary);
    }
    
    &::-webkit-scrollbar-thumb:vertical {
      background-color: color(fourth);
    }
  }
}
