.base-header {
  word-wrap: break-word;
  margin-bottom: $baseSize;
  margin-top: $baseSize;

  &:first-child {
    margin-top: 0;
  }

  &--1 {
    font-size: 1.6 * $baseSize;
    line-height: 1.2em;
  }

  &--2 {
    font-size: 1.2 * $baseSize;
    line-height: 1.2em;
  }
}