.text-editor {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Courier New', Courier, monospace;
  padding: 0 $contentPadding;
  box-sizing: border-box;

  &:focus {
    box-shadow: 0;
    outline: 0;
    border: 0;
  }

  /deep/ > div {
    margin-bottom: 0.75em;
  }
}